# Секреты для инициализации БД 
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Параметры БД
DB__URL=

# Авторизация (JWT)
AUTH__JWT_PRIVATE_KEY_PATH=
AUTH__JWT_PUBLIC_KEY_PATH=
AUTH__ALGORITHM=
AUTH__ACCESS_TOKEN_EXPIRE_MINUTES=

# App config
APP__DEBUG=
APP__ENVIRONMENT=
# не пишем, значит автоматически выберется DEBUG
# APP__EXPLICIT_LOG_LEVEL=
# не пишем, значит для local автоматически включится True
# DB__EXPLICIT_ECHO=