# Секреты для инициализации БД 
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Параметры БД
DB__URL=

# Авторизация (JWT)
AUTH__JWT_PRIVATE_KEY_PATH=
AUTH__JWT_PUBLIC_KEY_PATH=
AUTH__ALGORITHM=
AUTH__ACCESS_TOKEN_EXPIRE_MINUTES=

# Other
APP__TITLE=
APP__VERSION=
APP__DEBUG=